*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
 font-family: Helvetica;
}

#mainmenu {
  background: #000000;
  position: relative;
  overflow:hidden;
  height:40px;
  margin:30px 0
}
#mainmenu ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
  left:50%;
  float:left;
  font:14px Arial, Helvetica, sans-serif;
  height:40px

}
#mainmenu ul li {
  position:relative;
  left:-50%;
  float:left;
  margin:0 10px;
  height:40px

}
#mainmenu ul li a {
  color: #ffffff;
  display:block;
  text-decoration:none;
  padding:0 15px;
  line-height: 40px;
}
#mainmenu ul li a:hover {
  background-color:#0c0c0c; 

}

body {background: #c7b39b url(/images/bg.jpg); /* Цвет фона и путь к файлу */ color: #000000; /* Цвет текста */}

#content {
  width: 500px; /* Ширина слоя */
  margin: 0 auto 50px; /* Выравнивание по центру */
}
#footer {
	text-align: center;
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #000000; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  opacity: 0.7;
}

table {
	text-align: center;
  width: 40%; /* Ширина таблицы */
  background: #000000; /* Цвет фона таблицы */
  color: #ffffff; /* Цвет текста */
  border-spacing: 1px; /* Расстояние между ячейками */
}
td, th {
  background: #000000; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг текста */
}